@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["TextHome"];
}

<h2>@Localizer["Headline"]</h2>
<p>@Localizer["Hallo"]</p>
<div>
    <a href="Text/Add">Text hinzufügen</a> <br />
    <a href="Text/Edit">Text ändern</a> <br />
    <a href="Text/Remove">Text löschen</a>
</div>