@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Text";
}

<h2>Willkommen!</h2>
<p>Hier können Sie neue Texte hinzufügen oder bestehende Texte ändern/löschen!</p>
<div>
    <a href="Text/Add">Text hinzufügen</a> <br />
    <a href="Text/Edit">Text ändern</a> <br />
    <a href="Text/Remove">Text löschen</a>
</div>